@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

body {
text-align: center;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
flex-direction: column;
background-color: #506266;
}
.container{
background-color: white;
width: 90vw;
padding: 10px;
border-radius: 25px;
-webkit-box-shadow: 8px 8px 24px 0px rgba(16, 69, 79, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(16, 69, 79, 1);
box-shadow: 8px 8px 24px 0px rgba(16, 69, 79, 1);
}

nav{
    display: flex;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: white;
}

.draws-list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow:hidden; 
overflow-y:scroll;
height: 40vh;
margin-bottom: 20px;

}
.draw{
padding: 10px
}


button {
width: 70vw;
border: 0;
margin-bottom: 5px;
padding: 10px;
outline: none;
cursor: pointer;
background-color: #fa3838e3;
color: white;
border-radius: 25px;
}

a {
text-decoration: none;
color: black;
}

#my-canvas{
    width: 100%;
    height: 100%;
    background-color: white;
  }

  .canvas_screen{
    background-color: #637371;
    width: 100vw;
    height: 65vh;
    padding: 1vh;
  }

  .tool_bar{
    width: 100%;
    height: 30vh;
    background-color: #BFBFBF;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .colors {
    padding: 10px 0 5px 0;
    text-align: center;
  }

  .colors button {
    border: 1px solid #00000026;
    cursor: pointer;
    width: 20vw;
    height: 30px;
    margin-bottom: 5px
  }
  
  .colors button:nth-of-type(1) {
    background-color: red;
  }
  
  .colors button:nth-of-type(2) {
    background-color: blue;
  }
  
  .colors button:nth-of-type(3) {
    background-color: green;
  }
  
  .colors button:nth-of-type(4) {
    background-color: yellow;
  }  

  .brushes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .brushes button {
    width: 90vw;
    border: 0;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    cursor: pointer;
  }
    
  #clear {
    width: 90%;
    border: 0 solid;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    cursor: pointer;
    background-color: #fa3838e3;
    color: white;
  }
